__pycache__/board.cpython-39.pyc
__pycache__/boardui.cpython-39.pyc
__pycache__/gomoku.cpython-39.pyc
__pycache__/player.cpython-39.pyc
__pycache__/rule.cpython-39.pyc
try.py
Gomoku/__pycache__/board.cpython-39.pyc
Gomoku/__pycache__/gomoku.cpython-39.pyc
Gomoku/__pycache__/gomokuai.cpython-39.pyc
Gomoku/__pycache__/gomokunet.cpython-39.pyc
Gomoku/__pycache__/player.cpython-39.pyc
Gomoku/__pycache__/rule.cpython-39.pyc
